<h1>Word Central</h1>

<h2>Text: <%= @text %></h2>

<h2>Nº of words: <%= @word_count %></h2>

<h2>Seconds of reading time: <%= @result %></h2>

<p>frequency: <%= @frequency %></p>


<%=link_to "Home", "/" %>

